In [1]:
import pandas as pd
import numpy as np
import random 
from datetime import date

In [2]:
#Generates random date data

start = date(2019, 1, 1)
end = date(2019, 12, 31)

start_dates=[]
end_dates=[]
for i in range(27):
    random_start_date = start + (end - start) * random.random()
    random_end_date = random_start_date + (end - random_start_date) * random.random()
    #Converting to string in order to append to list
    start_dates.append(random_start_date.strftime('%Y-%m-%d'))
    end_dates.append(random_end_date.strftime('%Y-%m-%d'))

In [11]:
#Generates HR Recruting data
data = { 'Name': ['Joseph', 'Todd', 'Michelle', 'Shaquan','Nicky','Brittany', 'James', 'Sharon', 'Janel',
                  'Tyrone', 'Jameisha', 'Jarod', 'Cedric', 'Jada', 'Dorone', 'Andrew', 'Charity', 'Brad',
                  'Jadon', 'Michaela','Jordan', 'Santiago', 'Rachel', 'Lee', 'Joellen', 'Eden', 'Adam'],
         'Gender': ['Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female',
                    'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female',
                    'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male'],
         'Source': ['LinkedIn', 'LinkedIn', 'Referral', 'Dice', 'LinkedIn', 'Referral', 'Dice', 'Dice', 
                    'LinkedIn', 'LinkedIn', 'Other', 'Referral', 'LinkedIn', 'Dice', 'Dice', 'Other',
                    'LinkedIn', 'Other', 'Dice', 'Dice', 'LinkedIn', 'Referral', 'LinkedIn', 'LinkedIn',
                    'Other', 'LinkedIn', 'Other'],
         'Number of Applicants' : [34, 29, 24, 31, 33, 28, 35, 32, 28, 24, 40, 37, 30, 27, 32, 35, 29,
                  39, 34, 24, 33, 25, 23, 31, 28, 36, 23],
         'Position' : ['Senior Data Engineer', 'Data Analyst', 'Data Scientist', 'Data Analyst', 'Data Engineer',
                       'Data Analyst', 'Analytics Manager', 'Data Scientist', 'Data Scientist', 'Senior Data Analyst',
                       'Director of Analytics', 'Data Engineer', 'Data Scientist', 'Analytics Manager', 'Senior Data Analyst',
                       'Senior Data Engineer', 'Data Analyst', 'Data Scientist', 'Data Analyst', 'Data Analyst',
                       'Visualization Developer', 'Data Analyst', 'Visualization Developer', 'Lead Data Scientist', 
                       'Senior Data Analyst', 'Data Engineer', 'Lead Data Scientist'],
        'Req Open Date': start_dates,
        'Req Close Date' : end_dates     
}

row_labels = list(np.arange(101, 128, 1))

df = pd.DataFrame(data=data, index=row_labels)
df

,Name,Gender,Source,Number of Applicants,Position,Req Open Date,Req Close Date
101,Joseph,Male,LinkedIn,34,Senior Data Engineer,2019-05-27,2019-10-15
102,Todd,Male,LinkedIn,29,Data Analyst,2019-07-28,2019-11-29
103,Michelle,Female,Referral,24,Data Scientist,2019-07-12,2019-09-15
104,Shaquan,Female,Dice,31,Data Analyst,2019-01-07,2019-07-30
105,Nicky,Female,LinkedIn,33,Data Engineer,2019-10-14,2019-12-24
106,Brittany,Female,Referral,28,Data Analyst,2019-01-27,2019-10-09
107,James,Male,Dice,35,Analytics Manager,2019-05-08,2019-09-20
108,Sharon,Female,Dice,32,Data Scientist,2019-08-25,2019-09-18
109,Janel,Female,LinkedIn,28,Data Scientist,2019-09-23,2019-12-14
110,Tyrone,Male,LinkedIn,24,Senior Data Analyst,2019-07-29,2019-12-15
111,Jameisha,Female,Other,40,Director of Analytics,2019-09-06,2019-09-25
112,Jarod,Male,Referral,37,Data Engineer,2019-07-25,2019-11-06
113,Cedric,Male,LinkedIn,30,Data Scientist,2019-03-20,2019-09-05
114,Jada,Female,Dice,27,Analytics Manager,2019-09-02,2019-11-17
115,Dorone,Male,Dice,32,Senior Data Analyst,2019-10-06,2019-10-30
116,Andrew,Male,Other,35,Senior Data Engineer,2019-04-05,2019-09-28
117,Charity,Female,LinkedIn,29,Data Analyst,2019-04-01,2019-06-27
118,Brad,Male,Other,39,Data Scientist,2019-11-16,2019-12-08
119,Jadon,Male,Dice,34,Data Analyst,2019-03-05,2019-03-23
120,Michaela,Female,Dice,24,Data Analyst,2019-07-25,2019-10-04
121,Jordan,Male,LinkedIn,33,Visualization Developer,2019-09-10,2019-10-17
122,Santiago,Male,Referral,25,Data Analyst,2019-09-24,2019-10-09
123,Rachel,Female,LinkedIn,23,Visualization Developer,2019-10-27,2019-11-09
124,Lee,Male,LinkedIn,31,Lead Data Scientist,2019-06-14,2019-07-08
125,Joellen,Female,Other,28,Senior Data Analyst,2019-03-19,2019-06-22
126,Eden,Male,LinkedIn,36,Data Engineer,2019-04-17,2019-11-30
127,Adam,Male,Other,23,Lead Data Scientist,2019-05-29,2019-08-15

In [13]:
df = df.replace('Male', 'Man')
df = df.replace('Female', 'Woman')

In [15]:
df.to_csv('/Users/Documents/Python/HR_Metrics.csv')